/* needed for "about us" layout-design */
main {
  max-width: none !important;
}
section {
  padding: 30px 20px;
}

/* About us - Main */
.about_us_header {
  background-color: var(--light_green);
  width: 100vw;
  padding: 15vh 0;
  text-align: center;
}

h1 {
  font-size: clamp(40px, 8vw, 80px);
}

h2 {
  font-size: clamp(26px, 5vw, 48px);
  color: var(--light_orange);
  margin-top: 80px;
}

h3 {
  font-size: clamp(20px, 4vw, 40px);
  margin: 30px 0 0;
  color: var(--sky_blue);
}
p {
  font-size: clamp(16px, 2vw, 30px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* sections in article*/
article {
  display: flex;
  flex-flow: column;
}

.middle_section {
  background-color: var(--mountain_green);
  color: white;
}

.section-who_are_we img {
  float: right;
  max-width: 300px;
  width: 35%;
  margin: 0 0 10px 10px;
}

.our_goal-img_group {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.our_goal-img_group img {
  max-height: 50vh;
  object-fit: cover;
}

.our_goal-img_group img:nth-child(2) {
  object-position: 50% 30%;
}
.our_goal-img_group img:nth-child(3) {
  object-position: 50% 70%;
}

/* section: pushing our comfort zone */
.logo_about_us {
  width: 50%;
  margin: 10% auto;
}

@media only screen and (min-width: 1024px) {
  section {
    max-width: 60%;
    margin: 0 auto;
  }
}
