main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.logo_full {
    flex: 3;
    width: 80vw;
    margin: 5vh auto 0;
    max-width: 550px;
}

main img {width: 100%;}

.check_icon {
    width: 60vw;
    max-width: 450px;
    margin: 0 auto;
    flex: 2;
}

h1 {font-size: clamp(24px, 7vw, 46px) ;}
p{font-size: clamp(14px, 4vw, 26px)}

.btn_back-to-home {flex: 2;}

.back_to_home_page_btn {
    background-color: var(--sky_blue);
    border: none;
    padding: 20px;
    font-size: clamp(16px, 5vw, 32px);
}