body {
    display: block !important;
    overflow-y: hidden;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-block: 10vh auto !important; 
    height: 60vh;
    text-align: center;
    gap: 1rem;
}

.logo_full {
    width: 80vw;
    margin: 5vh auto 0;
    max-width: 550px;
}

main img {width: 100%;}

.check_icon {
    width: clamp(100px, 20%, 200px);
    margin: 0 auto;
}

h1 {
    font-size: clamp(24px, 7vw, 46px);
    margin: 0;
}
p{font-size: clamp(14px, 4vw, 26px)}

.back_to_home_page_btn {
    background-color: var(--sky_blue);
    border: none;
    padding: 20px;
    font-size: clamp(16px, 5vw, 32px);
}