/* nav for smaller devices */
@media only screen and (max-width: 1023px) {
  .topnav {
    height: 3rem;
  }
  /*dropdown_menu*/
    #primary-nav {
      background-color: var(--charcoal);
      font-size: 2em;
      position: absolute;
      z-index: -1;
      left: 0px;
      top: 0px;
      width: 100%;
      box-shadow: 2px 2px 5px rgba(59, 59, 59, 0.527);
      transform: translateY(-105%);
    }

    .animate-nav {
      transition: all ease-out 300ms;
    }

    #primary-nav[data-visible="true"] {
      transform: translateY(0);
    }
}

/* desktop */

@media only screen and (min-width: 1024px) {
/* Global styles */
  /*header [desktop]*/
  .logo {order: 1;}

  .menu_wrapper {
    margin-inline: auto 2rem;
  }

  .container__category {
    position: absolute;
    width: calc(100% - var(--paddingCollection) * 2);
  }

  nav li {display: inline-block;}
  .hamburger-menu_header {display: none;}
  nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
  }

  nav, nav ul {
    width: 100%;
  }

  /* Home page */
  main {
    max-width: 70%;
    min-width: 1000px;
    margin: 0 auto;
  }

  .product:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 0 15px #e2e2e2;
  }

  /* blog-items flex desktop */
  .helpful_tips {
    flex: 3;
  }

  .choosing-jacket {
    flex-direction: column;
    flex: 1;
  }

  .helpful_tips div {
    flex: 3;
  }

  .helpful_tips p {
    flex: 1;
  }

  .helpful_tips p,
  .choosing-jacket p {
    font-size: 2vw;
  }
  
}