/* smaller devices */
@media only screen and (max-width: 1023px) {
  nav li:nth-child(1),
  nav li:nth-child(5) {
    margin-bottom: 20px;
  }
  nav {
    background-color: var(--charcoal);
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 100vw;
    box-shadow: 2px 2px 5px rgba(59, 59, 59, 0.527);
  }
  /* accesibility fix for nav icons (mobile and tablets) */
  .contact-us_icon {
    display: none;
  }
}

/* desktop */
@media only screen and (min-width: 1024px) {
  /* Global styles */
  /*header [desktop]*/
  header {
    position: relative;
    height: 65px;
    margin-bottom: 120px; /*pushes down main-content*/
  }

  .topnav {
    margin: 0 5vw;
  }

  .topnav,
  .logo,
  .logo img {
    height: 100%;
  }

  .logo {
    order: 1;
  }

  .hamburger-menu_header label,
  .hamburger-menu_header input {
    display: none;
  }

  nav {
    display: inline-block;
  }

  nav li:nth-child(1) {display: none;}

  nav ul {
    flex-flow: row wrap;
    justify-content: space-between;
    width: 45vw;
  }

  .nav-icon {
    display: flex;
    gap: 10px;
    align-items: baseline;
  }

  .nav-icon > * {
    flex: 1;
  }

  .nav-icon img {
    width: 100%;
    height: 50px;
  }

  .user_icon img {
    height: 47px;
  }

  /* Home page */
  main {
    max-width: 70%;
    margin: 0 auto;
  }

  /* blog-items flex desktop */
  .helpful_tips {
    flex: 3;
  }

  .choosing-jacket {
    flex-direction: column;
    flex: 1;
  }

  .helpful_tips div {
    flex: 3;
  }

  .helpful_tips p {
    flex: 1;
  }

  .helpful_tips p,
  .choosing-jacket p {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1024px) {
  .menu_wrapper {
    flex:1
  }
  nav, nav ul {
    width: 100%;
    gap: 3%;
  }
  nav li:nth-child(2) {margin-left: 5%;}
  nav li:nth-child(6) {margin-left:auto;}
  nav li:nth-child(7) {margin-right:5%;}
  nav li {
  }
}



@media only screen and (max-width: 1023px) {
    
}



