.content-wrapper img {
  width: 100px;
}

.content-wrapper {
  display: grid;
  gap: 10px 40px;
}
.sum_total {
}

/* collapsible tabs */

.toggle_text {
  display: block;
}
.toggle_btn,
.collapsible_content_cart {
  display: none;
}
.toggle_btn:checked ~ .collapsible_content_cart {
  display: flex;
}

/* products - flex */
.products_cart_flex {
  flex-flow: column;
}
.products_cart {
  display: flex;
  margin: 10px;
}
.products_cart_info {
  margin-left: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.products_cart img {
  object-fit: scale-down;
} /*fixes image stretching in flex*/

.products_cart_info span {
  padding: 8px;
}

.adress_info_inputs,
.delivery_inputs {
  flex-flow: row wrap;
}

.adress_info_inputs input,
.delivery_inputs input {
  padding: 10px;
  margin: 10px;
  border: var(--charcoal) solid 1px;
}
#adress {
  width: 100%;
}
.adress_name {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#email,
#city,
.adress_name > * {
  flex: 1;
  width: 100%;
  min-width: 80px;
}
#phone,
#postal_code {
  width: 12ch;
}

/* select styles */
select {
  padding: 5px;
  margin: 10px;
}

.sum_total {
  margin: 0 10vw;
  width: 100%;
  max-width: 80vw;
  min-width: fit-content;
  font-size: 2em;
  text-align: center;
  padding: 30px 0;
  justify-self: center;
}

/* page styles */
.content-wrapper > * {
  background: white;
  padding: 10px;
}

@media only screen and (min-width: 1024px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 33%;
    /* grid-template-areas: 
        "products sum"
        "adress_info sum"
        "delivery . "
        "payment ."; */
  }
  /* .cart_product_container {grid-area: products;}
    .adress_info_container {grid-area: adress_info;}
    .delivery_container {grid-area: delivery;}
    .payment_container {grid-area: payment;}
    .sum_total {grid-area: sum;} */

  .sum_total {
    grid-column: 2 / -1;
    grid-row: 1 / 5;
  }
  .content-wrapper > * > * {
    padding-right: 40%;
  }
}
