main {
  margin-block: 2rem; 
}

h2 {
  margin-block: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

h2 span {
  flex: 1;
}

h3 {
  font-size: var(--medium3);
  width: 100%;
  margin: 0;
}

h4 {
  margin: 0;
  margin-top: 3rem;
}
.summary_mycart > h4 {
  margin-top: 1rem;
}

p {
  font-size: clamp(16px, 2vw, 18px);
}

fieldset {
  border: none;
}

.content-wrapper img {
  width: 100px;
}

input.inputValidationError {
  border-color: rgb(170, 95, 95) !important;
  background-color: rgba(170, 0, 0, 0.08);
}

.err-msg {
  /* display: none; */
  color: rgb(170, 0, 0);
}

.err-msg--novalue, .err-msg--invalid {
  display: inline;
}


input:disabled {
  background-color: rgb(211, 211, 211) !important; 
  cursor: default;
}

.content-wrapper {
  max-width: calc(100vw - 20px);
  margin-inline: auto; 
  display: grid;
  gap: 10px;
}

/* products_cart - flex */
  .products_cart, .products_cart_flex, .products_cart_info {
    display: flex;
  }

  .products_cart_flex {
    flex-flow: column; 
    row-gap: 3rem; 
    margin-top: 2rem;}
  .products_cart {display: flex; gap: 1rem;}
  .products_cart img {object-fit: scale-down;}
  .products_cart_info span {padding: 0.5rem;} 
  .products_cart_info {
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    max-width: clamp(300px, 10vw, 500px);
    row-gap: 1rem;
  }

  .item-count {
    margin-right: 3em;
  }

  .item-price {
    font-size: 1.5em;
  }

  .remove-item {
    margin-left: auto;
  }

  .remove-item:hover {
    cursor: pointer;
    text-decoration: underline;
  }  

/*adress and delivery forms*/
  .adress_info_inputs, .delivery_inputs {
    display: flex;
    flex-flow: row wrap;
  }

  .input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 20ch;
  }

  .input-container label {
    font-size: var(--small);
  }

  .input-container input {
    font-size: calc(var(--small) - 2px);
  }

  .input-container--city, .input-container--email {
    flex: 2;
  }

  .input-container--same_as_address, .input-container--delivery_address {
    flex: none;
    width: calc(100% - 20px);
  }

  .input-container--same_as_address{
    flex-direction: row;
    gap: 1em;
  }

  .adress_info_inputs input, .delivery_inputs input {
    padding: 10px;
    border: var(--charcoal) solid 1px;
  }

  .payment_inputs {
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  .address_info--sub-field {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  select {
    padding: 10px;
    margin: 10px;
  }

  #same_as_adress {
    transform: scale(1.5);
  }

  .delivery_method--container {
    width: 100%;
  }


.content-wrapper > * {
  background: white;
  padding-inline: 2.5rem;
  padding-block: 1rem;
}

[data-collapse] {
  transform-origin: top;
  animation: appear 200ms ease-in-out forwards;
}

.collapse--box {
  display: none;
}

@keyframes appear {
  0%{display: none;}
  1%{
    display: flex;
    transform: rotateX(90deg);
  }
  100%{transform: rotatex(0);}
}

.sum_total {
  width: 100%;
  font-size: 2em;
  padding: 30px 0 !important;
}

.summary_mycart {
  width: fit-content;
  text-align: left;
  margin-left: 2rem;
}

.order_btn {
  padding: 15px 30px !important;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.sum_total_price {
  font-size: 2rem;
  margin-left: 2rem;
}

.fa-check {
  color: white;
  margin-left: auto;
  background-color: green;
  border-radius: 50%;
  padding: 8px;
  font-size: 0.5em;
  margin-left: 1em;
}

#continue {
  margin-left: auto;
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .content-wrapper {grid-template-columns: 1fr 33%;}

  .sum_total {
    grid-column: 2 / -1;
    grid-row: 1 / 5;
  }

}