main {
  padding: 10px 10px 40px; /*pushes footer down + constrains main content on mobile*/
}

h2 {
  margin-block: 0.5rem;
}

h3 {
  font-size: var(--medium3);
  width: 100%;
  margin: 0;
}

p {
  font-size: clamp(14px, 2vw, 18px);
}

fieldset {
  border: none;
}

.content-wrapper img {
  width: 100px;
}

.content-wrapper {
  max-width: calc(100vw - 20px);
  display: grid;
  gap: 10px;
}

/* products_cart - flex */
.products_cart, .products_cart_flex, .products_cart_info {
  display: flex;
}


  .products_cart_flex {
    flex-flow: column; 
    row-gap: 3rem; 
    margin-top: 2rem;}
  .products_cart {display: flex; gap: 1rem;}
  .products_cart img {object-fit: scale-down;}
  .products_cart_info span {padding: 0.5rem;} 
  .products_cart_info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    max-width: clamp(300px, 10vw, 500px);
    row-gap: 1rem;
  }

  .item-count {
    margin-right: 3em;
  }

  .item-price {
    font-size: 1.5em;
  }

  .remove-item {
    margin-left: auto;
  }

  .remove-item:hover {
    cursor: pointer;
    text-decoration: underline;
  }

/*adress and delivery forms*/
  .adress_info_inputs, .delivery_inputs {
    display: flex;
    flex-flow: row wrap;
  }
  .adress_info_inputs input, .delivery_inputs input {
    padding: 10px;
    margin: 10px;
    border: var(--charcoal) solid 1px;
  }

  #adress {width: 100%;}

  .adress_name {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  #email, #city, .adress_name > * {
    flex: 1;
    width: 100%;
    min-width: 20ch;
  }
  #phone, #postal_code {width: 12ch;}

  select {
    padding: 10px;
    margin: 10px;
  }

  #same_as_adress {
    transform: scale(1.5);
  }

  .delivery_method--container {
    width: 100%;
  }

/* page and elements styles */
.content-wrapper > * {
  background: white;
  padding: 10px;
}

.summary_mycart {
  font-size: clamp(14px, 1vw, 26px);
  text-align: left;
  margin-left: 20px;
  padding: 0 5% !important;
}



.sum_total {
  margin: 0 10vw;
  width: 100%;
  max-width: 80vw;
  min-width: fit-content;
  font-size: 2em;
  text-align: center;
  padding: 30px 0 !important;
  justify-self: center;
}

.order_btn {
  padding: 15px 30px !important;
  font-size: 70%;
}

.sum_total p {
  padding: 0 !important
}

@media only screen and (min-width: 768px) {
  .content-wrapper {grid-template-columns: 1fr 33%;}

  .sum_total {
    grid-column: 2 / -1;
    grid-row: 1 / 5;
  }

}