main {margin: 100px auto !important;}

.product_specific_card{
    display: flex;
    margin: 0 auto;
    flex-flow: column;
    max-width: 500px;
    background: white;
    padding: 40px 30px 40px;
}

.product_specific_card > img{
    margin-top: -80px;
    width: 100%;
    max-width: 500px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
}

.wrapper_product_specific {
    display: grid;
    align-items: center;
    grid-template-areas: 
    "product_name product_name"
    "review_stars reviews"
    "select_size select_size"
    "info info"
    "product_price cta";
    min-width: 200px;
}

.wrapper_product_specific h1 {grid-area: product_name;}
.wrapper_product_specific .stars {grid-area: review_stars; white-space: nowrap;}
.product_specific_review {grid-area: reviews; justify-self: end;}
#select_size {grid-area: select_size ;}
.product_specific_info {grid-area: info;}
.wrapper_product_specific h2 {grid-area: product_price;}
.wrapper_product_specific .cta {grid-area: cta;}

#select_size {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--light_green);
    border: var(clay_green);
}

.wrapper_product_specific h2 {
    font-size: 2.5em;
}

.stars {color: var(--light_orange);}

/* collapsible boxes */
    .product_collapsible_box {
        display: grid;
        margin: 30px auto;
        max-width: 560px;
        grid-template-rows: repeat(minmax(autofit,0));
        grid-template-areas: 
        "specifications"
        "availability" 
        "size_guide"
        "other"
        "box";
    }

    #specifications {grid-area: specifications;}
    #availability {grid-area: availability;}
    #size_guide {grid-area: size_guide;}
    #other {grid-area: other;}
    .product_collapsible_box > div {grid-area: box;}

    .product_collapsible_box label {
        background-color: white;
        border: var(--light_green);
        padding: 20px;
    }

    input[type="radio"]:checked + .toggle_text {background-color: var(--sky_blue);} /* active tab title */
    input[type="radio"], .collapsible_content1, .collapsible_content2, .collapsible_content3, .collapsible_content4 {
        display: none;
    }

    .toggle1:checked ~ .collapsible_content1,
    .toggle2:checked ~ .collapsible_content2,
    .toggle3:checked ~ .collapsible_content3,
    .toggle4:checked ~ .collapsible_content4 {
        display: block;
    }
                        
    .product_collapsible_box article {
        background-color: rgb(255, 255, 255);
        padding: 20px;
        margin-top: 5px;
    }


@media only screen and (min-width: 1024px) {
    main {min-width: 840px !important; } /*overlap fix */

    .content_wrapper {
        display: flex;
        justify-content: center;
    }

    .product_specific_card{
        flex-flow: row;
        margin: 0 auto;
        min-width: 750px;
        max-width: 1000px;
        gap: 5%;
    }

    .product_collapsible_box {
        grid-template-areas: 
        "specifications availability size_guide other"
        "box box box box";
        min-width: 810px;
        max-width: 1060px;
    }
}