/* Global styles */
@import "imports/variables.css";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: arimo, Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--light_green);
  overflow-x: hidden;
  min-height: 100vh;
}

h1 {font-size: var(--large2);}
h2 {font-size: var(--medium1);}
h3 {font-size: var(--medium2);}
p {font-size: var(--small);}

main {
  flex: 1;
  width: 100%;
} 

.banner-picture,
.product_image,
.blog-items_box img,
.about_us_content img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.active {text-decoration: underline;}

/* header */
header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  background: var(--mountain_green);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: fit-content;
  transition: all 300ms;
}

/* flex nav */
.topnav {
  display: flex;
  height: 4rem;
  padding-block: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.logo, .logo img, .nav-icon, .menu_wrapper {
  height: 100%;
}

.nav-icon img {
  width: 60%;
}

.logo {order: 2;}
.nav-icon {
  order: 3; 
  display: flex;
  position: relative;}
.menu_wrapper {
  order: 1;
  z-index: 10;
  display: flex;
}

.hamburger-menu_header {
  height: 70%;
  margin-block: auto;
}

.shopping-cart_icon {
  height: 90%;
  aspect-ratio: 1;
  margin-block: auto;
  color: var(--mountain_green);
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-count {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 45%;
  aspect-ratio: 1;
  bottom: -10%;
  right: -10%;
  background-color: var(--dark_orange);
  border-radius: 50%;
}

.searchbar, .topnav {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: max(10px, 2vw);
}

.hamburger-menu_header {
  color: #fff;
  font-size: 1.7em;
  aspect-ratio: 1;
  top: 0;
  bottom: 0;
}

.hamburger-bar {
  height: 100%;
  width: 100%;
  margin-block: auto;
  flex-direction: column;
  position: relative;
}

.bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  border-radius: 2px;
  background-color: white;
  transform-origin: center;
  transition: all 300ms;
}

.bar--1 {
  top: 0;
}

.bar--2, .bar--3 {
  top: calc(50% - 3px);
}

.bar--4 {
  bottom: 0;
}
.bar--1.close {
  transform: translateY(13px) scale(0);
}

.bar--4.close {
  transform: translateY(-13px) scale(0);
}

.bar--2.close {
  transform: rotate(45deg);
}

.bar--3.close {
  transform: rotate(-45deg);
}

#primary-nav {
  padding: 0;
  font-size: 1.5em;
}

nav ul {
  text-align: center;
  padding: 0;
}

nav li, .collection-container {
  list-style: none;
  padding: 0.75rem;
}

nav ul > *, nav ul a {
  color: white; 
  transition: all 200ms;
  font-size: 1.5rem;}



nav ul > *.active, nav ul a.active {
  text-decoration: underline;
}

.collection-container {
  display: inline-block;
  position: relative;
}

.collection-container:hover {
  cursor: pointer;
}

.container__category {
  display: none;
  flex-direction: column;
  align-items: center;
  --paddingCollection: 1rem; 
  padding: var(--paddingCollection);
  text-align: left;
  transform-origin: top;
  transform: scaleY(0);
  top: 100%;
  left: 0;
  transition: all 100ms;
}

.collection-container:hover .container__category {
  display: flex;
  transform: scaleY(1);
}

.product_category {
  text-align: center;
  color: var(--sky_blue);
  padding-block: 0.25rem;
  width: 100%;
}
.container__search {
  background: var(--charcoal);
}

.searchbar {
  display: flex;
  padding-block: 0.5em;
  appearance: none;
  border: none;
}

.searchbar input[type="text"] {
  appearance: none;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1em;
}

.searchbar input[type="text"]:focus-visible {
  outline: 2px solid var(--light_orange);
}


.search_button {
  -webkit-appearance: none;
  appearance: none;
  padding: 0 25px;
  border-width: 1px;
  background-color: #404040;
  color: white;
  font-size: 1em;
}


/* main */
.breadcrumb-trail {
  font-size: var(--small);
  margin: 1rem 2rem;
}
.breadcrumb:hover {
  text-decoration: underline;
}

.product {
  background: white;
  padding: 15px;
  transition: transform 0.6s;
}

.product-item {
  display: flex;
  gap: 2em;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
}

.price {
  background: var(--light_orange);
  padding: 6px 20px;
  width: fit-content;
  text-align: center;
  margin-top: auto;
  font-size: 1.4em;
}

/* footer */
footer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 20vh;
  min-height: 100px;
  background: var(--mountain_green);
}
.social-media_icons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.social-media_icons > * {margin: 0 20px 10px;}
.social-media_icons img {height: 100%;}

/* temporary */
.cta {
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
  background-color: var(--dark_orange);
  border: var(--dark_orange) 2px solid;
  color: white;
  justify-self: end;
}

.cta--alt {
  background-color: var(--sky_blue);
  border: var(--sky_blue) 2px solid;
}

.cta:hover {
  background-color: white;
  border: var(--dark_orange) solid 2px;
  font-weight: bold;
  color: var(--dark_orange);
  cursor: pointer;
}

.cta--alt:hover {
  color: black;
  border: var(--sky_blue) 2px solid;
}

.toggle_text:hover,
input:hover,
select:hover {
  cursor: pointer;
}


.add-to-cart__modal {
  /* display: none; */
  position: fixed;
  display: flex;
  z-index: 100;
  top: 5rem;
  right: 1rem;
  border: 3px solid var(--dark_orange);
  background-color: white;
  padding: 0.25rem;
  transform: translateX(110%);
  transition: all 400ms cubic-bezier(.69,-0.01,.35,1.35);
}

.add-to-cart__modal::after {
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 1rem solid  var(--dark_orange);
  position: absolute;
  top: -1rem;
  right: 10px;

}

.add-to-cart__modal img {
  height: 100px;
  width: fit-content;
  object-fit: scale-down;
}

.add-to-cart__modal--text {
  font-size: 1.25rem;
}

.add-to-cart__modal a{
  color: white;
}

.add-to-cart__modal a:hover{
  color: var(--dark_orange);
}

.copyright {
  color: white; 
  margin-inline: auto;
}