/* Global styles */
@import "imports/variables.css";

body {
  margin: 0;
  font-family: arimo, Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--light_green);
}

a {
  text-decoration: none;
  color: black;
}

/* header */

header {
  height: 45px;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px 0px;
  background: var(--mountain_green);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* flex nav */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.logo {
  order: 2;
}
.nav-icon {
  order: 3;
}
.menu_wrapper {
  order: 1;
  z-index: 10;
}

.hamburger-menu_header {
  color: #fff;
  font-size: 1.7em;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: inline-block;
}

nav {
  display: none;
}

nav ul {
  display: flex;
  flex-flow: column;
  padding: 0;
  align-items: center;
}

nav li {
  list-style: none;
  font-size: 0.8em;
}

.product_category {
  color: var(--sky_blue);
}

nav a {
  color: white
}

.searchbar {
  background: var(--charcoal);
  text-align: center;
  margin-top: 8px;
}

.searchbar input[type="text"] {
  box-sizing: border-box;
  width: 70vw;
  padding: 6px;
  font-size: 1em;
}

/* main */

.product {
  width: 180px;
  background: var(--white);
  padding: 15px;
  border: rgba(230, 230, 230) solid 2px;
}

.product-item {
  display: flex;
  flex-flow: column nowrap;
}

.price_swiper  {
  background: var(--light_orange);
  padding: 6px 20px;
  align-self: flex-start;
  text-align: center;
} 

/* footer */
footer {
  display: flex;
  flex-flow: column nowrap;
  height: 20vh;
  min-height: 100px;
  background: var(--mountain_green);
}
.social-media_icons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.social-media_icons > * {
  margin: 0 20px 10px;
}

.social-media_icons img {
  height: 100%;
}

/* temporary */
