/* Global styles */
@import "imports/variables.css";

body {
  margin: 0;
  font-family: arimo, Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--light_green);
  /*flex for page layout*/
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap !important;
}

main {
  flex: 1;
  width: 100%;
}

.banner-picture,
.product_image,
.blog-items_box img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
}

/* header */

header {
  height: 45px;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px 0px;
  background: var(--mountain_green);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 70px; /*pushes down main-content*/
}

/* flex nav */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 7px;
}

.logo {
  order: 2;
}
.nav-icon {
  order: 3;
}
.menu_wrapper {
  order: 1;
  z-index: 10;
}

.hamburger-menu_header {
  color: #fff;
  font-size: 1.7em;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ .dingdong {
  color: aqua;
}

#hamburger-menu:checked ~ nav {
  display: inline-block;
  transform: translateY(0);
}

nav ul {
  display: flex;
  flex-flow: column;
  padding: 0;
  align-items: center;
}

nav li {
  list-style: none;
  font-size: 0.8em;
  padding: 4px 0;
}

nav li:nth-child(1) {
  font-size: 1.2em;
}

nav a {
  color: white;
}
.product_category {
  color: var(--sky_blue);
}

.searchbar {
  display: flex;
  padding: 5px 15vw;
  justify-content: center;
  background: var(--charcoal);
  text-align: center;
}

.searchbar input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1em;
}

.search_button {
  padding: 0 25px;
  background-color: #404040;
  color: white;
  font-size: 1em;
}

/* main */

.product {
  background: white;
  padding: 15px;
  transition: transform 0.6s;
}

.product:hover {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0 0 15px #e2e2e2;
}

.product-item {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
}

.price_swiper {
  background: var(--light_orange);
  padding: 6px 20px;
  width: fit-content;
  text-align: center;
  margin-top: auto;
  font-size: 1.4em;
}

/* footer */
footer {
  display: flex;
  flex-flow: column nowrap;
  height: 20vh;
  min-height: 100px;
  background: var(--mountain_green);
}
.social-media_icons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.social-media_icons > * {
  margin: 0 20px 10px;
}

.social-media_icons img {
  height: 100%;
}

/* temporary */

.cta {
  padding: 10px 30px;
  font-size: 1em;
  text-transform: uppercase;
  width: fit-content;
  background-color: var(--dark_orange);
  border: none;
  color: white;
  justify-self: end;
}
.cta:hover {
  background-color: white;
  border: var(--dark_orange) solid 2px;
  font-weight: bold;
  color: var(--dark_orange);
  cursor: pointer;
}

.toggle_text:hover,
input:hover,
select:hover {
  cursor: pointer;
}

/* add to cart modal */
#add_to_cart_toggle {
  display: none;
}

.added_to_cart {
  background-color: var(--dark_orange);
  color: white;
  box-shadow: 5px 5px 10px rgba(73, 73, 73, 0.438);
  width: clamp(150px, 20vw, 300px);
  height: clamp(150px, 20vw, 300px);
  text-align: center;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  top: -500px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.added_to_cart img {
  width: 50%;
  position: relative;
  top: 20%;
}

.added_to_cart p {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  font-size: clamp(16px, 2vw, 32px);
}

input:checked ~ .added_to_cart {
  display: block;
  position: fixed;
  animation-name: added_to_cart_animated;
  animation-direction: alternate;
  animation-duration: 4s;
}

@keyframes added_to_cart_animated {
  0% {
    top: -500px;
  }
  20% {
    top: 200px;
  }
  70% {
    top: 200px;
  }
  100% {
    top: -500px;
  }
}
