:root {

    /* color-palette */
    --light_green: #e6eff0;
    --mountain_green: #0a3641;
    --clay_green: #a8bfbd;
    --light_orange: #f2994b;
    --dark_orange: #d96725;
    --sky_blue: #a0d8fc;
    --charcoal: #272727;
    --white: #FFFAF0;
    /* item-swiper sizes */
    --gutter: 10px;

    /* font-sizes */
    --large1: clamp(40px, 8vw + 1em, 80px); /*h1*/
    --large2: clamp(32px, 7vw + 1em, 60px); /*h1*/
    --medium1: clamp(26px, 4.5vw + 1em, 48px); /*h2*/
    --medium2: clamp(20px, 4vw + 1em, 36px);
    --medium3: clamp(18px, 3vw + 1em, 30px);
    --small: clamp(16px, 2vw + 1em, 24px); /*paragraph*/
}